@{
    ViewBag.Title = "TODO";
}
<h2>@ViewBag.Title:</h2>

<p>
    <ul>
        <li>Tee veebi lehekülg mille kaudu on võimalik otsida tooteid Amazon’i toodete hulgast.</li>
        <li>Kasutades Amazon’i Product Advertising API (võib ka REST’i ) teenuseid, päri Amazon’ist otsingu sõna alusel toodete nimekiri.</li>
        <li>Näita tulemusi 13’ne kaupa lehel koos hinnaga. Järgmine vastuste leht „preloaded“.</li>
        <li>Kasutades valuutakursi kalkulaator teenust võimaldades kasutajal valida endale sobivaim valuuta kurss ja näita tulemusi selle kursiga.</li>
        <li>Hinna/valuuta muutus realiseeri AJAX’iga update’ga mitte full page load’iga.</li>
    </ul>
</p>
